<article>
	<h2><%= link_to topic.title, topic_path(topic) %></h2>
	<p><%= "Description: " + topic.description %></p>
	<p>
		Created <%= nice_date( topic.created_at ) %>
		<% if user_signed_in? and current_user.id == topic.user.id %>
			<span style="margin-left: 12px;">
				<%= link_to content_tag( :span, nil, class: 'glyphicon glyphicon-pencil' ), edit_topic_path(topic) %>
				<%= link_to content_tag( :span, nil, class: 'glyphicon glyphicon-trash' ), topic_path(topic), method: :delete, data: { confirm: 'Are you sure you want to delete the topic?'} %>
			</span>
		<% end %>
	</p>
	<p>
	<% topic.feeds.each do |feed| %>
		<span class="label label-warning"><%= feed.text %></span><br>
	<% end %>
	</p>
	
</article>

<hr>