<%= title( @topic.title ) %>

<div class="row-fluid" >
	<div class="col-md-12">

		<h2>
			<%= @topic.title %>
		</h2>
		<p>
			<%= @topic.description %>
		</p>
		<p>
			By <%= @topic.user.email %>, Created <%= nice_date( @topic.created_at ) %>

	    <% if user_signed_in? and current_user.id == @topic.user.id %>
      <%= link_to content_tag( :span, nil, class: 'glyphicon glyphicon-edit' ), edit_topic_path(@topic) %>
    		<% end %>
        </p>

		<h3>Discussion</h3>
		<div id="feeds-list">
			<%= render @topic.feeds %>
		</div>

		<% if user_signed_in? %>
			<h3>Add a Feed<h3>
			<div id="feeds-form">
				<%= render "feeds/form" %>
			</div>
		<% end %>
 
		
	</div>
</div>

